@use "@scss/theme";
@use "@scss/radius";

// List
// ----------------------------------------------------------------

pop-list {
  flex-wrap: wrap;
  width: 100%;

  contain: content;

  margin: 0;
  padding: 0.5rem;
}

// List Orientation
// ----------------------------------------------------------------

pop-list[orientation="vertical"],
pop-list:not([orientation]) {
  display: flex;
  flex-direction: column;
}
pop-list[orientation="horizontal"] {
  display: inline-flex;
}

// List size
// ----------------------------------------------------------------

pop-list[size="xs"] {
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: radius.$sm;
}
pop-list[size="sm"] {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: radius.$md;
}
pop-list[size="md"],
pop-list:not([size]) {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: radius.$md;
}
pop-list[size="lg"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: radius.$md;
}

// List Title & Item Size
// ----------------------------------------------------------------

pop-list[size="xs"] > :is(pop-list-title, pop-item) {
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: radius.$sm;
}
pop-list[size="sm"] > :is(pop-list-title, pop-item) {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: radius.$md;
}
pop-list {
  &[size="md"],
  &:not([size]) {
    > :is(pop-list-title, pop-item) {
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-radius: radius.$md;
    }
  }
}
pop-list[size="lg"] > :is(pop-list-title, pop-item) {
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: radius.$md;
}

// List - Sub List
// ----------------------------------------------------------------

pop-list.in-item {
  position: relative;
  white-space: nowrap;
  margin-inline-start: 1rem;
  padding: 0;
  padding-inline-start: 0.5rem;

  &::before {
    content: "";

    position: absolute;
    top: 0.75rem;
    bottom: 0.75rem;
    inset-inline-start: 2px;

    width: 1px;

    --tw-bg-opacity: 1;
    background-color: oklch(theme.get-color("base.content"));
    opacity: 0.1;
  }
}
