@use "@poppy/utils/join-item";
@use "@poppy/global" as theme;

/**
 * @prop --border-radius: Change border radius
 * @prop --border-color: Change border color
 *
 * @prop --background: Change background color
 *
 * @prop --animation: Change animation timing
 */

// Accordion
// ----------------------------------------------------------------

@include join-item.item_root;

:host {
  --border-radius: #{theme.use_radius(xl)};
  --border-color: #{theme.use_color("base.300")};
  --background: #{theme.use_color("base.200")};
  --animation: 0.2s;

  box-sizing: border-box;
  display: grid;
  position: relative;

  width: 100%;

  overflow: hidden;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  background-color: var(--background);

  transition: grid-template-rows var(--animation);

  > .accordion-title {
    box-sizing: border-box;
    display: flex;
    position: relative;
    grid-row-start: 1;

    grid-column-start: 1;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 3.75rem;

    padding: 1rem;
    padding-inline-end: 1.5rem;

    cursor: pointer;

    transition: background-color var(--animation) ease-out;
    user-select: none;
  }

  > .accordion-content {
    grid-row-start: 2;
    grid-column-start: 1;

    min-height: 0;
    padding-right: 1rem;

    padding-left: 1rem;

    cursor: unset;

    transition:
      visibility var(--animation),
      padding var(--animation) ease-out,
      background-color var(--animation) ease-out;
  }

  > svg {
    margin-inline-start: auto;
    transition: transform 150ms ease 0ms;
  }
}

// Accordion Open State
// ----------------------------------------------------------------

:host(:not([open])) {
  grid-template-rows: auto 0fr;

  > .accordion-content {
    visibility: hidden;
  }
}

:host([open]) {
  grid-template-rows: auto 1fr;

  svg {
    transform: rotateX(180deg);
  }

  > .accordion-content {
    visibility: visible;
    min-height: fit-content;
    padding-bottom: 1rem;
  }
}
