/**
 * @prop --translate-x: Translate the content in X axis
 * @prop --translate-y: Translate the content in Y axis
 */

// Indicator
// ----------------------------------------------------------------

$slot_name: indicator;

:host {
  --translate-x: -50%;
  --translate-y: -50%;

  display: inline-flex;

  position: relative;
  width: max-content;

  ::slotted([slot="#{$slot_name}"]) {
    z-index: 1;
    position: absolute;
    translate: var(--translate-x) var(--translate-y);

    white-space: nowrap;
  }
}

// Indicator Side
// ----------------------------------------------------------------

:host([side="start"]) ::slotted([slot="#{$slot_name}"]) {
  inset-inline-end: auto;
  inset-inline-start: 0;
}
:host([side="left"]) ::slotted([slot="#{$slot_name}"]) {
  right: auto;
  left: 0;
}
:host([side="center"]) ::slotted([slot="#{$slot_name}"]) {
  inset-inline-end: 50%;
  inset-inline-start: 50%;
}
:host([side="right"]) ::slotted([slot="#{$slot_name}"]) {
  right: 0;
  left: auto;
}
:host([side="end"]) ::slotted([slot="#{$slot_name}"]) {
  --translate-x: 50%;

  inset-inline-end: 0;
  inset-inline-start: auto;
}

// Indicator Position
// ----------------------------------------------------------------
:host([position="top"]) ::slotted([slot="#{$slot_name}"]) {
  top: 0;
  bottom: auto;
}
:host([position="middle"]) ::slotted([slot="#{$slot_name}"]) {
  top: 50%;
  bottom: 50%;
}
:host([position="bottom"]) ::slotted([slot="#{$slot_name}"]) {
  --translate-y: 50%;

  top: auto;
  bottom: 0;
}
