*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.tgz

.idea/
.vscode/
!.vscode/extensions.json
.sass-cache/
.versions/
coverage/
collection/
dist/
dist-transpiled/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

src/themes/version.scss
scripts/e2e/webpackEntryPoints.json
scripts/build/e2e-generated-tsconfig.json
*.css.ts

stats.json

# demo stuff
demos/node_modules
demos/polyfills
demos/css
demos/fonts
demos/src/**/*.js
demos/src/**/*.map
demos/src/**/*.ngfactory.ts
demos/src/**/*.d.ts
demos/src/**/*.metadata.json
demos/src/**/*.css.shim.ts
prerender.html
prerender-domino.html
prerender-hydrated.html
prerender-static.html

# stencil
packages/core/components/
packages/core/css/
packages/core/hydrate/
packages/core/loader/
packages/core/www/
packages/.stencil/
packages/**/css/
packages/angular*/**/css/

# playwright
packages/core/test-results/
packages/core/playwright-report/
packages/core/**/*-snapshots

# angular
tests/angular/build/
.angular/

# vue
tests/vue/build/

# react
tests/react/build/

.npmrc
