@use "../../global/styles/radius";

@mixin item($selector) {
  // join-item
  :host-context(pop-join) > #{$selector} {
    border-start-start-radius: var(--border-radius-start-start, var(--border-radius, #{radius.$md}));
    border-end-start-radius: var(--border-radius-end-start, var(--border-radius, #{radius.$md}));

    border-start-end-radius: var(--border-radius-start-end, var(--border-radius, #{radius.$md}));
    border-end-end-radius: var(--border-radius-end-end, var(--border-radius, #{radius.$md}));
  }
}
