@use 'sass:string';
@use 'sass:list';
@use 'sass:map';


// Gets the active color's css variable from a variation. Alpha is optional.
// --------------------------------------------------------------------------------------------
// Example usage:
// current-color(base.100) => var(--base)
// current-color(base.content, 0.1) => oklch(var(--base-content-oklch), 0.1)
// --------------------------------------------------------------------------------------------
@function current-color($variation, $alpha: null) {
  @if $alpha == null {
    @return var(--#{$variation});
  } @else {
    @return oklch(var(--ion-color-#{$variation}-oklch) / #{$alpha});
  }
}

// Gets the specific color's css variable from the name and variation. Alpha/rgb are optional.
// --------------------------------------------------------------------------------------------
// Example usage:
// pop-color(primary, base) => var(--primary, oklch(0.6569 0.196 275.75))
// pop-color(secondary, content) => var(--secondary-content, oklch(0.1496 0.052 342.55))
// pop-color(primary, base, 0.5) => oklch(var(--primary-oklch, 0.6569 0.196 275.75) / 0.5)
// --------------------------------------------------------------------------------------------
@function get-color($color, $alpha: null, $oklch: false) {
  $colorArr: string.split($color, ".");
  $name: list.nth($colorArr, 1);
  $variant: list.nth($colorArr, 2);

  $values: map-get($colors, $name);
  $value: map-get($values, $variant);
  $css-var: --#{$name};

  @if ($variant != base) {
    $css-var: --#{$name}-#{$variant};
  }

  @if ($alpha) {
    @return oklch(var(#{$css-var}-oklch, $value) / $alpha);
  }

  @if ($oklch) {
    @return oklch(var(#{$css-var}-oklch, $value));
  }

  @return var(#{$css-var}, oklch($value));
}


// Mixes a color with black to create its shade.
// --------------------------------------------------------------------------------------------
@function get-color-shade($color) {
  @return color-mix(in oklab, oklch(#{$color}), #000 10%);
}

// Mixes a color with white to create its tint.
// --------------------------------------------------------------------------------------------
@function get-color-tint($color) {
  @return color-mix(in oklab, oklch(#{$color}), #FFF 10%);
}
