@use "../../global/styles/theme";
@use "../../global/styles/radius";
@use "../../global/styles/join-item";

/**
 * @prop --border-radius: Change border radius
 * @prop --border-color: Change border color
 *
 * @prop --background: Change background color
 *
 * @prop --animation: Change animation timing
 */

// Accordion
// ----------------------------------------------------------------

@include join-item.item_root;

:host {
  --border-radius: #{radius.$xl};
  --border-color: oklch(#{theme.get-color("base.300")});
  --background: oklch(#{theme.get-color("base.200")});
  --animation: .2s;

  box-sizing: border-box;
  position: relative;
  display: grid;

  overflow: hidden;

  width: 100%;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  background-color: var(--background);

  transition: grid-template-rows var(--animation);

  > .accordion-title {
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column-start: 1;
    grid-row-start: 1;

    padding: 1rem;
    padding-inline-end: 1.5rem;

    width: 100%;
    min-height: 3.75rem;

    cursor: pointer;
    user-select: none;

    transition: background-color var(--animation) ease-out;
  }

  > .accordion-content {
    grid-column-start: 1;
    grid-row-start: 2;

    padding-left: 1rem;
    padding-right: 1rem;

    min-height: 0;

    transition:
      visibility var(--animation),
      padding var(--animation) ease-out,
      background-color var(--animation) ease-out;

    cursor: unset;
  }

  > svg {
    margin-inline-start: auto;
    transition: transform 150ms ease 0ms;
  }
}

// Accordion Open State
// ----------------------------------------------------------------

:host(:not([is-open])) {
  grid-template-rows: auto 0fr;

  > .accordion-content {
    visibility: hidden;
  }
}

:host([is-open]) {
  grid-template-rows: auto 1fr;

  svg {
    transform: rotateX(180deg);
  }

  > .accordion-content {
    visibility: visible;
    min-height: fit-content;
    padding-bottom: 1rem;
  }
}
