/**
 * @prop --padding: Change padding of the card-body
 *
 * @prop --gap: Change gap of the card-body
 */

// Card body
// ----------------------------------------------------------------

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding, 32px);
  gap: var(--gap, 8px);

  & :where(p) {
    flex-grow: 1;
  }
}

:host-context(pop-card[compact]) {
  --padding: 16px;
}
