@forward "../../themes/generator" with (
  $scheme: dark,

  // colors
  $base_100: 25.32% 0.015896 252.417568,
  $base_200: 23.26% 0.013807 253.100675,
  $base_300: 21.14% 0.01165 254.087939,
  $base_content: 74.64% 0.0216 264.435964,

  $neutral: 31.38% 0.021108 254.139175,
  $neutral_content: 74.64% 0.0216 264.435964,
  $primary: 65.69% 0.196 275.75,
  $primary_content: 13.13% 0.0392 275.75,
  $secondary: 74.8% 0.26 342.55,
  $secondary_content: 14.96% 0.052 342.55,
  $accent: 74.51% 0.167 183.61,
  $accent_content: 14.9% 0.0334 183.61,
  $info: 72.06% 0.191 231.6,
  $info_content: 0 0 0,
  $success: 64.8% 0.15 160,
  $success_content: 0 0 0,
  $warning: 84.71% 0.199 83.87,
  $warning_content: 0 0 0,
  $error: 71.76% 0.221 22.18,
  $error_content: 0 0 0,
);
