@use "../../global/styles/theme";

/**
 * @prop --background: Change background color
 * @prop --color: Change text color
 */

:host {
  --background: oklch(#{theme.get-color("neutral.base")});
  --color: oklch(#{theme.get-color("neutral.content")});

  position: relative;
  display: inline-flex;
  aspect-ratio: 1;

  > div {
    display: grid;
    place-items: center;

    width: 100%;
    overflow: hidden;
    min-width: 24px;

    background-color: var(--background);
    color: var(--color);
  }

  ::slotted(pop-img),
  ::slotted(img) {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
