@use "@scss/radius";
@use "@scss/theme";
@use "@scss/input";

/**
 * @prop --border-radius: Border radius
 *
 * @prop --background: Background color
 *
 * @prop --color: Change border and thumd color
 * @prop --required-color: Change required star color
 * @prop --checked-color: Change border and thumd color when toggle is checked
 *
 * @prop --opacity: Change border and thumd opacity
 *
 * @prop --animation-duration: Animation duration
 */

// Toogle
// ----------------------------------------------------------------

:host {
  --background: oklch(#{theme.get-color("base.100")});
  --handleoffsetcalculator: calc(var(--handleoffset) * -1);

  @include input.label;

  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  > input {
    appearance: none;

    margin: 0;
    margin-inline-start: auto;
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    border-radius: var(--border-radius, #{radius.$xxl});
    background-color: currentColor;

    color: var(--color, oklch(theme.get-color("base.content") / var(--opacity, 0.5)));
    transition:
      color,
      background,
      box-shadow var(--animation-duration, 0.2s) ease-out;
    box-shadow:
      var(--handleoffsetcalculator) 0 0 2px var(--background) inset,
      0 0 0 2px var(--background) inset,
      var(--togglehandleborder, 0 0);

    cursor: pointer;

    &:focus-visible {
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: var(--color, oklch(theme.get-color("base.content") / 0.2));
    }
    &:checked {
      --handleoffsetcalculator: var(--handleoffset);
      color: var(--checked-color);
      background-image: none;
    }
  }
}

// Toogle Size
// ----------------------------------------------------------------

:host([size="xs"]),
:host-context(pop-list[size="xs"]) {
  --handleoffset: 0.5rem;

  > input {
    height: 1rem;
    width: 1.5rem;
  }
}
:host([size="sm"]),
:host-context(pop-list[size="sm"]) {
  --handleoffset: 0.75rem;

  > input {
    height: 1.25rem;
    width: 2rem;
  }
}
:host([size="md"]),
:host(:not([size])) {
  --handleoffset: 1.5rem;

  > input {
    height: 1.5rem;
    width: 3rem;
  }
}
:host([size="lg"]),
:host-context(pop-list[size="lg"]) {
  --handleoffset: 2rem;

  > input {
    height: 2rem;
    width: 4rem;
  }
}

// Toogle Color
// ----------------------------------------------------------------

@mixin generate-color($colors...) {
  @each $color in $colors {
    $base: theme.get-color("#{$color}.base");

    :host([color="#{$color}"]) > input:checked {
      --color: oklch(#{$base} / var(--opacity, 1));
      --checked-color: oklch(#{$base} / var(--opacity, 1));
    }
  }
}
@include generate-color(primary, secondary, accent, info, success, warning, error);

:host(:not([color])) > input:checked {
  --checked-color: oklch(#{theme.get-color("base.content")} / var(--opacity, 1));
}

// Toogle State
// ----------------------------------------------------------------

:host([indeterminate]) > input {
  color: var(--checked-color, oklch(theme.get-color("base.content")));

  box-shadow:
    calc(1.5rem / 2) 0 0 2px var(--background) inset,
    calc(1.5rem / -2) 0 0 2px var(--background) inset,
    0 0 0 2px var(--background) inset,
    calc(1.5rem / 2) 0 0 3px currentColor inset,
    calc(1.5rem / -2) 0 0 3px currentColor inset;
}

:host([disabled]) > input {
  $base: theme.get-color("base.content");

  --color: oklch(#{$base} / var(--opacity, 1));
  --togglehandleborder: 0 0 0 3px oklch(#{$base}) inset, var(--handleoffsetcalculator) 0 0 3px oklch(#{$base}) inset;

  border-color: var(--color, oklch(#{$base}));
  background-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
}

// Toggle Context
// ----------------------------------------------------------------

:host-context(pop-item) {
  grid-column: span 2;

  > .label {
    padding-inline-start: 0;
  }
}
