@use "@poppy/utils/input";
@import "@poppy/poppy.globals";

/**
 * @prop --background: Change background color
 */

// Divider
// ----------------------------------------------------------------

:host {
  --background: #{get-color("base.content", 0.1)};

  display: flex;
  align-items: center;
  align-self: stretch;

  white-space: nowrap;

  &::before,
  &::after {
    flex-grow: 1;

    background-color: var(--background);
    content: "";
  }
}

:host(:not(:empty)) {
  gap: 1rem;
}

// Divider orientation
// ----------------------------------------------------------------
:host([orientation="horizontal"]) {
  width: 100%;
  height: 1rem;
  margin: 1rem 0;

  &::before,
  &::after {
    width: 100%;
    height: 0.125rem;
  }
}
:host([orientation="vertical"]) {
  flex-direction: column;

  width: 1rem;
  height: auto;

  margin: 0 1rem;

  &::before,
  &::after {
    width: 0.125rem;
    height: 100%;
  }
}

// Divider Content Placement
// ----------------------------------------------------------------

:host([placement="left"])::before {
  display: none;
}
:host([placement="left"].divider-rtl) {
  &::before {
    display: block;
  }
  &::after {
    display: none;
  }
}
:host([placement="start"])::before {
  display: none;
}
:host([placement="end"])::after {
  display: none;
}
:host([placement="right"])::after {
  display: none;
}
:host([placement="right"].divider-rtl) {
  &::before {
    display: none;
  }
  &::after {
    display: block;
  }
}

// Divider Color
// ----------------------------------------------------------------

@mixin generate-color($colors...) {
  @each $color in $colors {
    $base: get-color("#{$color}.base");

    :host([color="#{$color}"]) {
      --background: #{$base};
    }
  }
}
@include generate-color(primary, secondary, accent, neutral, info, success, warning, error);
