@use "../../global/styles/radius";
@use "../../global/styles/theme";
@use "../../global/styles/input";

/**
 * @prop --border-radius: Change border radius
 * @prop --border-color: Change border color
 *
 * @prop --background: Change background color
 * @prop --checkmark-color: Change checkmark color
 *
 * @prop --animation: Change animation duration
 */

// Checkbox
// ----------------------------------------------------------------

:host {
  --border-radius: #{radius.$md};
  --border-color: oklch(theme.get-color("base.content") / 0.2);

  --background: #{theme.get-color("base.content")};
  --checkmark-color: #{theme.get-color("base.100")};

  --animation: 0.2s ease-out;

  @include input.label;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  flex-shrink: 0;

  input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    appearance: none;
    cursor: pointer;
    margin: 0;

    &:focus-visible {
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: var(--background);
    }
    &:checked {
      background-repeat: no-repeat;
      animation: checkmark var(--animation);
      background-color: var(--background);
      background-image: linear-gradient(-45deg, transparent 65%, var(--background) 65.99%),
        linear-gradient(45deg, transparent 75%, var(--background) 75.99%),
        linear-gradient(-45deg, var(--background) 40%, transparent 40.99%),
        linear-gradient(
          45deg,
          var(--background) 30%,
          var(--checkmark-color) 30.99%,
          var(--checkmark-color) 40%,
          transparent 40.99%
        ),
        linear-gradient(-45deg, var(--checkmark-color) 50%, var(--background) 50.99%);
    }
  }

  @keyframes checkmark {
    0% {
      background-position-y: 5px;
    }
    50% {
      background-position-y: -2px;
    }
    100% {
      background-position-y: 0;
    }
  }
}

// Checkbox placement
// ----------------------------------------------------------------

// start is the default in flex so no css needed here.
:host([placement="start"]) {
  input {
    margin-inline-end: auto;
  }
}
:host([placement="end"]) {
  flex-direction: row-reverse;

  input {
    margin-inline-start: auto;
  }
}

// Checkbox size
// ----------------------------------------------------------------

:host([size="xs"]),
:host(.in-list.in-list-xs) {
  input {
    height: 1rem;
    width: 1rem;
  }
}
:host([size="sm"]),
:host(.in-list.in-list-sm) {
  input {
    height: 1.25rem;
    width: 1.25rem;
  }
}
:host([size="md"]),
:host(.in-list.in-list-lg) {
  input {
    height: 1.5rem;
    width: 1.5rem;
  }
}
:host([size="lg"]),
:host(.in-list.in-list-lg) {
  input {
    height: 2rem;
    width: 2rem;
  }
}

// Checkbox Color
// ----------------------------------------------------------------

@mixin generate-color($colors...) {
  @each $color in $colors {
    $base: theme.get-color("#{$color}.base");
    $text: theme.get-color("#{$color}.content");

    :host([color="#{$color}"]) {
      --background: oklch(#{$base});
      --border-color: oklch(#{$base} / 0.2);
      --checkmark-color: oklch(#{$text});
    }
  }
}
@include generate-color(primary, secondary, accent, info, success, warning, error);

:host(:not([color])) > input {
  --background: oklch(#{theme.get-color("base.content")});
  --border-color: oklch(#{theme.get-color("base.content")} / 0.2);
  --checkmark-color: oklch(#{theme.get-color("base.100")});
}

// Checkbox status
// ----------------------------------------------------------------

:host([disabled]) > input {
  --border-color: transparent;
  --background: oklch(#{theme.get-color("base.content")});
  opacity: 0.2;
  cursor: not-allowed;

  background-color: var(--background);
  background-image: linear-gradient(-45deg, transparent 65%, var(--background) 65.99%),
    linear-gradient(45deg, transparent 75%, var(--background) 75.99%),
    linear-gradient(-45deg, var(--background) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      var(--background) 30%,
      var(--checkmark-color) 30.99%,
      var(--checkmark-color) 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, var(--checkmark-color) 50%, var(--background) 50.99%);
}
:host([indeterminate]) > input {
  background-repeat: no-repeat;
  background-color: var(--background, oklch(theme.get-color("base.content")));
  animation: checkmark var(--animation-duration, 0.2s) ease-out;
  background-image: linear-gradient(90deg, transparent 80%, var(--background) 80%),
    linear-gradient(-90deg, transparent 80%, var(--background) 80%),
    linear-gradient(
      0deg,
      var(--background) 43%,
      var(--checkmark-color) 43%,
      var(--checkmark-color) 57%,
      var(--background) 57%
    );
}

// Checkbox Context
// ----------------------------------------------------------------

:host(.in-item) {
  grid-column: span 2;

  > .label {
    padding-inline-start: 0;
  }
}
