@use "@poppy/global" as theme;

// Item
// ----------------------------------------------------------------

// TODO: Remove padding when item has clickable el children (radio, check, select, ... )
:host {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;

  > .item-inner {
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    grid-auto-flow: column;
    align-content: center;
    align-items: center;
    gap: 0.5rem;

    border: none;
    outline: none;

    background-color: transparent;

    text-align: start;
    text-wrap: balance;

    cursor: pointer;
    transition-duration: 0.2s;

    transition-property: color, background-color, opacity;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

:host(:not(.has-list)) > {
  .item-inner:is(:hover, :focus),
  .item-inner:has(:focus) {
    background-color: theme.use_color("base.content", 0.1);
    color: inherit;
  }
}

:host > .item-inner:active {
  background-color: theme.use_color("neutral.base");
  color: theme.use_color("neutral.content");
}

// Item context
// ----------------------------------------------------------------

// This time and only this time we make "md" and "no size" first so all item and title take the good font size
// By making this it take in apply style of the top level list

:host(.in-list-md) > .item-inner {
  height: 36px;
  padding: 0.5rem 1rem;
  border-radius: theme.use_radius(md);
  border-radius: theme.use_radius(md);

  font-size: 0.875rem;
  line-height: 1.25rem;
}
:host(.in-list-xs) > .item-inner {
  height: 24px;
  padding: 0.25rem 0.5rem;
  border-radius: theme.use_radius(sm);

  font-size: 0.75rem;
  line-height: 1rem;
}
:host(.in-list-sm) > .item-inner {
  height: 28px;
  padding: 0.25rem 0.75rem;
  border-radius: theme.use_radius(md);

  font-size: 0.875rem;
  line-height: 1.25rem;
}
:host(.in-list-lg) > .item-inner {
  height: 52px;
  border-radius: theme.use_radius(md);

  font-size: 1.125rem;
  line-height: 1.75rem;
}

// Item Children Context
// ----------------------------------------------------------------

:host(.has-list) > .item-inner {
  display: flex;
  height: auto;
  padding: 0;
}
