@import "@poppy/poppy.globals";

:host {
  --border-radius: #{get-radius(md)};
  --background: #{get-color("base.100")};

  .modal {
    display: grid;
    position: fixed;
    place-items: center;

    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;
    inset: 0;
    padding: 0;
    overflow-y: hidden;

    border: none;

    // overscroll-behavior: contain;

    background-color: transparent;
    color: inherit;

    transition-duration: 0.2s;
    transition-property: transform, opacity, visibility;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

    &:not([open]) {
      opacity: 0;
      pointer-events: none;

      > .model-content {
        scale: 0.9;
      }
    }
    &[open] > .model-content {
      scale: 1;
    }

    &::backdrop {
      animation: modal-pop 0.2s ease-out;

      @keyframes modal-pop {
        0% {
          opacity: 0;
        }
      }
    }

    &-content {
      box-sizing: border-box;
      grid-row-start: 1;

      grid-column-start: 1;

      width: calc(100% / 12 * 11);
      max-width: 32rem;
      max-height: calc(100vh - 5em);

      padding: 1.5rem;

      overflow-y: auto;
      overscroll-behavior: contain;

      border-radius: var(--border-radius);

      background-color: var(--background);

      box-shadow: #00000040 0 25px 50px -12px;
      transition-duration: 0.2s;

      transition-property:
        color,
        background-color,
        border-color,
        text-decoration-color,
        fill,
        stroke,
        opacity,
        box-shadow,
        transform,
        scale,
        filter,
        backdrop-filter,
        -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
    }

    &-backdrop {
      display: grid;
      z-index: -1;
      grid-row-start: 1;

      grid-column-start: 1;
      align-self: stretch;
      justify-self: stretch;

      color: transparent;

      > button {
        cursor: pointer;
        opacity: 0;
      }
    }

    @media screen and (max-width: 640px) {
      place-items: end;

      & > .modal-content {
        width: 100%;
        max-width: none;
        border-top-right-radius: var(--border-radius);

        border-top-left-radius: var(--border-radius);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

:host(:not([showBackdrop])) .modal::backdrop {
  background-color: transparent;
}

:host([showBackdrop]) .modal::backdrop {
  background-color: #0006;
}
