@use "@scss/radius";
@use "@scss/theme";
@use "@scss/join-item";

/**
 * @prop --border-radius: Change border radius
 * @prop --border-color: Change border color
 *
 * @prop --background: Change background color
 * @prop --color: Change text color
 *
 * @prop --animation: Change animation duration
 * @prop --focus-scale: Change scale transformation when the button is active
 *
 */

@include join-item.item(button);

// Button
// ----------------------------------------------------------------

:host {
  --border-radius: #{radius.$md};
  --border-color: transparent;
  --background: oklch(#{theme.get-color("base.200")});
  --color: oklch(#{theme.get-color("base.content")});

  --animation: 0.25s ease-out;
  --focus-scale: 0.97;

  width: max-content;

  button {
    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-shrink: 0;

    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--background);
    color: var(--color);
    outline-color: var(--background);

    font-weight: 600;
    line-height: 1em;
    text-align: center;
    text-decoration-line: none;
    text-rendering: optimizeLegibility;

    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    animation: button-pop var(--animation);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;

    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &:active:hover,
    &:active:focus {
      animation: button-pop 0s ease-out;
      transform: scale(var(--focus-scale));
    }

    &:focus-visible {
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
    }
  }

  @keyframes button-pop {
    0% {
      transform: scale(var(--focus-scale));
    }
    40% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
}

// Button Size
// ----------------------------------------------------------------

:host([size="xs"]) button {
  height: 1.5rem;
  min-height: 1.5rem;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
:host([size="sm"]) button {
  height: 2rem;
  min-height: 2rem;
  font-size: 0.875rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
:host([size="md"]) button {
  height: 3rem;
  min-height: 3rem;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
:host([size="lg"]) button {
  height: 4rem;
  min-height: 4rem;
  font-size: 1.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

// Button Color
// ----------------------------------------------------------------

@mixin generate-color($colors...) {
  @each $color in $colors {
    $base: theme.get-color("#{$color}.base");
    $text: theme.get-color("#{$color}.content");

    :host([color="#{$color}"]) {
      --background: oklch(#{$base});
      --color: oklch(#{$text});

      button:hover {
        --background: color-mix(in oklab, oklch(#{$base}), black 10%);
      }
    }
  }

  @supports not (color: color-mix(in oklab, black, black)) {
    @each $color in $colors {
      $shade: theme.get-color("#{$color}.shade");

      :host([color="#{$color}"]) button:hover {
        --background: oklch(#{$shade});
      }
    }
  }
}
@include generate-color(neutral, primary, secondary, accent, info, success, warning, error);

:host([color="ghost"]:not([outlined])) {
  --background: transparent;
  --color: currentColor;

  button {
    outline-color: currentColor;

    &:hover {
      --background: oklch(#{theme.get-color("base.content")} / 0.2);
    }
  }
}
:host(:not([color], [outlined])) {
  --background: oklch(#{theme.get-color("base.200")});
  --color: oklch(#{theme.get-color("base.content")});

  button {
    outline-color: oklch(#{theme.get-color("base.content")});

    &:hover {
      --background: oklch(#{theme.get-color("base.300")});
    }
  }
}

// Button Outlined
// ----------------------------------------------------------------

:host([outlined]) {
  button {
    box-shadow: none;

    &:hover {
      border-color: transparent;
    }

    &:not(:hover) {
      border-color: currentColor;
      color: var(--background);
      background-color: transparent;
    }
  }
}
:host(:not([color])[outlined]) {
  --background: oklch(#{theme.get-color("base.content")});

  button:hover {
    --background: oklch(#{theme.get-color("base.content")});
    --color: oklch(#{theme.get-color("base.200")});
  }
}

// Button Expand
// ----------------------------------------------------------------

:host([expand="block"]) {
  width: 100%;

  button {
    width: 100%;
  }
}
:host([expand="wide"]) button {
  width: 16rem;
}

// Button Shape
// ----------------------------------------------------------------

:host([shape="square"]),
:host([shape="circle"]) {
  button {
    aspect-ratio: 1 / 1;
    padding: 0;
  }
}
:host([shape="circle"]) {
  --border-radius: #{radius.$full};
}

// Button State
// ----------------------------------------------------------------

:host([disabled]) {
  cursor: not-allowed;

  > button:disabled {
    --background: oklch(#{theme.get-color("neutral.base")} / 0.2);
    --color: oklch(#{theme.get-color("neutral.content")} / 0.2);

    border-color: transparent;
    pointer-events: none;
  }
}
