@use "../../global/styles/theme";
@use "../../global/styles/shadow";
@use "../../global/styles/radius";

:host {
  .dropdown {
    position: relative;
    display: grid;
    width: 100%;

    // &:not([open]) > .dropdown-content {
    //   opacity: 0;
    //   pointer-events: none;
    // }

    // &[open] > .dropdown-content {
    //   z-index: 100;
    //   opacity: 1;
    // }

    &-trigger {
      display: inline-block;
      grid-column-start: 1;
      grid-row-start: 1;
    }

    &-content {
      position: absolute;

      min-height: 2rem;

      border: solid;
      border-color: oklch(#{theme.get-color("base.200")});
      border-width: 1px;
      border-radius: var(--border-radius, #{radius.$md});

      color: var(--color, oklch(#{theme.get-color("base.content")}));
      background-color: var(--background, oklch(#{theme.get-color("base.100")}));

      box-shadow: shadow.$md;

      animation-name: present;
      animation-duration: 200ms;
    }

    &-backdrop {
      position: fixed;
      inset: 0;
      background-color: #0006;

      overscroll-behavior: contain;
    }
  }
}

:host(:not([open])) {
  .dropdown-content {
    opacity: 0;
    pointer-events: none;
  }
}
:host([open]) {
  .dropdown-content {
    z-index: 100;
    opacity: 1;
  }
}

:host(:not([side])[align="end"]),
:host([side="bottom"][align="end"]) {
  .dropdown-content {
    inset-inline-end: 0;
  }
}

:host([side="top"]) .dropdown-content {
  top: auto;
  bottom: 100%;
}
:host([side="top"][align="end"]) .dropdown-content {
  inset-inline-end: 0;
}

:host([side="left"]) .dropdown-content {
  top: 0;
  bottom: auto;
  inset-inline-end: 100%;
}
:host([side="left"][align="end"]) .dropdown-content {
  top: auto;
  bottom: 0;
}

:host([side="right"]) .dropdown-content {
  top: 0;
  bottom: auto;
  inset-inline-start: 100%;
}
:host([side="right"][align="end"]) .dropdown-content {
  top: auto;
  bottom: 0;
}

// :where(pop-dropdown) :host .dropdown-backdrop {
//   background-color: transparent;
// }

@keyframes present {
  from {
    opacity: 0.6;
    scale: 0.95;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
