@use "sass:map";
@use "../themes/generator" as theme;

:root {
  /**
   * Loop through each color object from the
   * `poppy.theme.default.scss` file
   * and generate CSS Variables for each color.
   */
  @each $color-name, $value in theme.$colors {
    @each $variant-name, $variant in $value {
      @if $variant-name == base {
        --#{$color-name}: oklch(var(--#{$color-name}-oklch, #{$variant}));
      } @else {
        --#{$color-name}-#{$variant-name}: oklch(var(--#{$color-name}-#{$variant-name}-oklch, #{$variant}));
      }
    }
  }
}

body {
  background: var(--base-100);
  color: var(--base-content);
  font-family: var(--font);
}
