@import "@poppy/poppy.globals";

/**
 * @prop --background: Change background color
 * @prop --color: Change text color
 */

// Avatar
// ----------------------------------------------------------------

:host {
  --background: #{get-color("neutral.base")};
  --color: #{get-color("neutral.content")};

  display: inline-flex;

  position: relative;
  aspect-ratio: 1;

  > div {
    display: grid;
    place-items: center;

    width: 100%;
    min-width: 24px;
    overflow: hidden;

    background-color: var(--background);
    color: var(--color);
  }

  ::slotted(pop-img),
  ::slotted(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
