@use "@poppy/utils/input";
@use "@poppy/utils/join-item";
@import "@poppy/poppy.globals";

/**
 * @prop --border-radius: Border radius
 * @prop --border-color: Border color & outline color
 *
 * @prop --background: Background color
 * @prop --opacity: Change background opacity
 *
 * @prop --color: Change text color
 * @prop --required-color: Change required star color
 * @prop --error-color: Change error text color
 * @prop --font: Change text font
 */

@include join-item.item(textarea);

// Textarea
// ----------------------------------------------------------------

$minWidth: 12rem;
:host {
  --border-radius: #{get-radius(md)};
  --border-color: transparent;
  --opacity: 1;
  --background: #{get-color("base.100", var(--opacity))};
  --color: #{get-color("base.content", var(--opacity))};

  @include input.label;
  @include input.helper(textarea, $counter: true);

  display: inline-flex;
  flex-direction: column;
  min-width: $minWidth;
  height: auto;

  > textarea {
    box-sizing: border-box;
    flex-shrink: 1;
    width: 100%;

    min-width: $minWidth;
    min-height: 3rem;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color, transparent);

    background-color: var(--background);
    color: var(--color);

    font-family: $font;
    white-space: pre-wrap;

    &:focus-visible {
      outline-color: var(--border-color, #{get-color("base.content", 0.2)});
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
    }
  }
}

:host([bordered]) {
  --border-color: #{get-color("base.content", 0.2)};
}

// Textarea Size
// ----------------------------------------------------------------

:host([size="xs"]) > textarea {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.625;
}
:host([size="sm"]) > textarea {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 2rem;
}
:host([size="md"]),
:host(:not([size])) {
  > textarea {
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    line-height: 2;
  }
}
:host([size="lg"]) > textarea {
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  line-height: 2;
}

// Textarea Color
// ----------------------------------------------------------------

@mixin generate-color($colors...) {
  @each $color in $colors {
    $base: get-color("#{$color}.base");

    :host([color="#{$color}"]) {
      --border-color: #{$base};
    }
  }
}
@include generate-color(primary, secondary, accent, info, success, warning, error);

:host([color="ghost"]) {
  --opacity: 0.05;

  > textarea:focus {
    --opacity: 1;
  }
}

// Textarea State
// ----------------------------------------------------------------

:host([disabled]) > textarea {
  --background: #{get-color("base.200")};
  --border-color: #{get-color("base.200")};
  --color: #{get-color("base.content", 0.2)};
  cursor: not-allowed;

  &::placeholder {
    color: #{get-color("base.content", 0.2)};
  }
}
