@import "@poppy/poppy.globals";

:host {
  --color: #{get-color("base.content")};
  --border-color: #{get-color("base.200")};
  --border-radius: #{get-radius(md)};
  --background: #{get-color("base.100")};

  .popover {
    box-sizing: border-box;
    position: absolute;

    margin: 0;
    padding: 0;

    border: none;

    background: transparent;

    color: var(--color);

    &:not([popover], [open]) {
      opacity: 0;
    }

    &::backdrop {
      background-color: rgb(0 0 0 / 0.125);
      transition: opacity 15s ease 0ms;
    }

    &-content {
      min-height: 2rem;

      border: solid;
      border-width: 1px;
      border-radius: var(--border-radius);
      border-color: var(--border-color);

      background-color: var(--background);

      box-shadow: get-shadow(md);
      animation-duration: 200ms;

      animation-name: present;
    }
  }
}

@keyframes present {
  from {
    scale: 0.95;
    opacity: 0.6;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
