@use "@scss/input";
@use "@scss/join-item";
@import "@scss/poppy.globals";

/**
 * @prop --border-radius: Change border radius.
 * @prop --border-color: Change border and outline color.
 *
 * @prop --button-background: Change button background.
 * @prop --button-color: Change button text color.
 * @prop --button-animation: Change animation duration of the button.
 *
 * @prop --background: Change background color.
 * @prop --background-opacity: CHange background opacity.
 * @prop --color: Change text color.
 *
 * @prop --error-color: Change error text .
 */

@include join-item.item(input);

// Input-File
// ----------------------------------------------------------------

$minWidth: 12rem;
:host {
  --border-radius: #{get-radius(md)};
  --border-color: #{get-color("base.content", 0)};
  --outline-color: #{get-color("base.content", .2)};
  --background-opacity: 1;
  --background: #{get-color("base.100", var(--background-opacity))};
  --color: #{get-color("base.content")};
  --button-color: #{get-color("neutral.content")};
  --button-background: #{get-color("neutral.base")};


  @include input.label;
  @include input.helper;

  display: inline-flex;
  flex-direction: column;

  > input {
    box-sizing: border-box;
    width: 100%;

    min-width: $minWidth;

    padding: 0;
    overflow: hidden;
    border-width: 1px;

    border-style: solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color);

    background-color: var(--background);
    color: var(--color);
    cursor: pointer;

    &:focus-visible {
      outline-color: var(--outline-color);
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
    }
    &::file-selector-button {
      height: 100%;
      padding-right: 1rem;

      padding-left: 1rem;
      border: none;

      background-color: var(--button-background);

      color: var(--button-color);
      font-weight: 600;
      text-align: center;
      text-decoration-line: none;
      text-transform: uppercase;
      animation: button-pop var(--button-animation, 0.25s) ease-out;

      cursor: pointer;
      transition-duration: 200ms;

      transition-property: color, background-color, border-color, opacity;
      transition-timing-function: ease-out;
      user-select: none;
    }
  }
}

// Bordered
:host([bordered]) {
  --border-color: #{get-color("base.content", .2)};
}

// Input-File Size
// ----------------------------------------------------------------

:host([size="xs"]) > input {
  height: 1.5rem;
  padding-inline-end: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.625;

  &::file-selector-button {
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
}
:host([size="sm"]) > input {
  height: 2rem;
  padding-inline-end: 0.75rem;
  font-size: 0.875rem;
  line-height: 2;

  &::file-selector-button {
    margin-right: 0.75rem;
    font-size: 0.875rem;
  }
}
:host([size="md"]),
:host(:not([size])) {
  > input {
    height: 3rem;
    padding-inline-end: 1rem;
    font-size: 0.875rem;
    line-height: 2;

    &::file-selector-button {
      margin-right: 1rem;
      font-size: 0.875rem;
    }
  }
}
:host([size="lg"]) > input {
  height: 4rem;
  padding-inline-end: 1.5rem;
  font-size: 1.125rem;
  line-height: 2;

  &::file-selector-button {
    margin-right: 1.5rem;
    font-size: 1.125rem;
  }
}

// Input-File Color
// ----------------------------------------------------------------

@mixin generate-color($colors...) {
  @each $color in $colors {
    $base: get-color("#{$color}.base");
    $text: get-color("#{$color}.content");

    :host([color="#{$color}"]) {
      --button-background: #{$base};
      --button-color: #{$text};
      --border-color: #{$base};

      > input:hover {
        --button-background: color-mix(in oklab, #{$base} 90%, black);
      }
    }
  }
}
@include generate-color(primary, secondary, accent, info, success, warning, error);

:host(:not([color], [disabled])) {
  $color: get-color("neutral.base");

  > input:hover {
    --button-background: color-mix(in oklab, #{$color} 90%, black);
  }
}
:host([color="ghost"]) {
  --background-opacity: 0.05;
  --button-background: transparent;
  --button-color: currentColor;

  > input:focus {
    --background-opacity: 1;

    color: var(--text-color, #{get-color("base.content")});
  }
}

// Input-File State
// ----------------------------------------------------------------

:host([disabled]) {
  $background: get-color("base.200");
  $color: get-color("base.content", .2);
  $btn-background: get-color("neutral.base", .2);

  --background: #{$background};
  --border-color: #{$background};
  --color: #{$color};

  --button-color: #{$color};
  --button-background: #{$btn-background};

  > input,
  input::file-selector-button {
    cursor: not-allowed;
  }
}
