@use "@scss/theme";

:host {
  padding: var(--padding, 0.5rem);

  width: 100%;
  min-height: 4rem;

  background: var(--background, oklch(#{theme.get-color("base.100")}));

  > header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}

::slotted(*) {
  display: inline-flex;

  &:not([slot]) {
    flex-shrink: 0;
  }
}
::slotted(*:not([slot])) {
  flex-shrink: 0;
}
::slotted([slot="start"]) {
  width: 50%;
  justify-content: flex-start;
}
::slotted([slot="center"]) {
  flex-shrink: 0;
}
::slotted([slot="end"]) {
  width: 50%;
  justify-content: flex-end;
}
