@import "@poppy/poppy.globals";

:host {
  --padding: 0.5rem;
  --background: #{get-color("base.100")};

  width: 100%;
  min-height: 4rem;
  padding: var(--padding);
  background: var(--background);

  > header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}

::slotted(*) {
  display: inline-flex;

  &:not([slot]) {
    flex-shrink: 0;
  }
}
::slotted(*:not([slot])) {
  flex-shrink: 0;
}
::slotted([slot="start"]) {
  justify-content: flex-start;
  width: 50%;
}
::slotted([slot="center"]) {
  flex-shrink: 0;
}
::slotted([slot="end"]) {
  justify-content: flex-end;
  width: 50%;
}
