@import "@scss/poppy.globals";

/**
 * @prop --border-radius: Change border radius
 */

// Card
// ----------------------------------------------------------------

:host {
  --border-radius: #{get-radius(xl)};

  display: flex;

  position: relative;
  flex-direction: column;

  border-radius: var(--border-radius);

  outline: none;
  background-color: var(--background);
  color: var(--color);
}
