@use "@scss/radius";

/**
 * @prop --border-radius: Change border radius
 */

// Card
// ----------------------------------------------------------------

:host {
  --border-radius: #{radius.$xl};

  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius);
  color: var(--color);
  background-color: var(--background);

  outline: none;
}
