@use "../../global/styles/radius";

// Join
// ----------------------------------------------------------------

pop-join {
  display: inline-flex;

  .join-item:not(:first-of-type):not(:last-of-type),
  .join-item:not(:first-child):not(:last-child),
  :not(:first-of-type):not(:last-of-type) .join-item,
  :not(:first-child):not(:last-child) .join-item {
    --border-radius: 0;
    border-radius: 0;
  }

  .join-item:focus {
    isolation: isolate;
  }
}

pop-join[orientation="horizontal"],
pop-join:not([orientation]) {
  :first-child:has(.join-item) .join-item,
  .join-item:first-child {
    --border-radius-start-end: 0;
    --border-radius-end-end: 0;

    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  :last-child:has(.join-item) .join-item,
  .join-item:last-child:not(:first-child) {
    --border-radius-start-start: 0;
    --border-radius-end-start: 0;

    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

pop-join[orientation="vertical"] {
  flex-direction: column;

  :first-child:has(.join-item) .join-item,
  .join-item:first-child {
    --border-radius-end-start: 0;
    --border-radius-end-end: 0;

    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }

  :last-child:has(.join-item) .join-item,
  .join-item:last-child:not(:first-child) {
    --border-radius-start-start: 0;
    --border-radius-start-end: 0;

    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }
}
