@import "@poppy/poppy.globals";

/**
 * @prop --background: Change sidebar background
 * @prop --color: Change sidebar text color
 *
 * @prop --background-backdrop: Change backdrop background color
 */

// Drawer
// ----------------------------------------------------------------

:host {
  --backdrop-background: #0006;
  --background: #{get-color("base.200")};
  --color: #{get-color("base.content")};

  display: grid;

  position: relative;

  width: 100%;
  max-width: 100vw;
  height: 100%;

  .drawer {
    &-content {
      grid-row-start: 1;

      min-width: 0px;
    }

    &-side {
      display: grid;
      z-index: 1000;
      position: fixed;
      top: 0px;
      grid-template-rows: repeat(1, minmax(0, 1fr));
      grid-template-columns: repeat(1, minmax(0, 1fr));

      grid-row-start: 1;
      align-items: flex-start;

      width: 100%;
      height: 100dvh;
      inset-inline-start: 0px;

      overflow-y: auto;
      overscroll-behavior: contain;

      pointer-events: none;

      &-inner {
        z-index: 1;
        grid-row-start: 1;
        grid-column-start: 1;

        height: 100%;

        background-color: var(--background);
        color: var(--color);
        transition-duration: 300ms;

        transition-property: transform;
        transition-timing-function: ease-out;

        will-change: transform;
      }
    }

    &-backdrop {
      position: sticky;
      top: 0px;
      grid-row-start: 1;

      grid-column-start: 1;
      place-self: stretch;

      background-color: transparent;

      cursor: pointer;
      transition-duration: 200ms;

      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: ease-out;
    }
  }
}

// Drawer Side
// ----------------------------------------------------------------

// using .drawer-rtl because [dir=rtl] :host() is impossible

:host([side="start"]) {
  grid-auto-columns: max-content auto;

  .drawer {
    &-content {
      grid-column-start: 2;
    }
    &-side {
      grid-column-start: 1;
      justify-items: start;
      inset-inline-start: 0px;

      &-inner {
        transform: translateX(-100%);
      }
    }
  }
}
:host([side="start"].drawer-rtl) {
  .drawer-side-inner {
    transform: translateX(100%);
  }
}

:host([side="end"]) {
  grid-auto-columns: auto max-content;

  .drawer {
    &-content {
      grid-column-start: 1;
      overflow: hidden;
    }
    &-side {
      grid-column-start: 2;
      justify-items: end;

      overflow-x: hidden;

      &-inner {
        transform: translateX(100%);
      }
    }
  }
}
:host([side="end"].drawer-rtl) {
  .drawer-side-inner {
    transform: translateX(-100%);
  }
}

// Drawer Open
// ----------------------------------------------------------------

// .drawer is needed for CSS selector specificity to avoid !important
:host(.drawer[open]) {
  .drawer {
    &-side {
      visibility: visible;
      pointer-events: auto;

      &-inner {
        transform: translateX(0%);
      }
    }

    &-backdrop {
      background-color: var(--background-backdrop);
    }
  }
}
