@import "@poppy/poppy.globals";

/**
 * @prop --border-radius: Border radius
 * @prop --border-color: Border color & outline color
 *
 * @prop --background: Background color
 *
 * @prop --font: Change text font
 */

// Kbd
// ----------------------------------------------------------------

:host {
  --border-radius: #{get-radius(md)};
  --border-color: #{get-color("base.content", 0.2)};
  --background: #{get-color("base.200")};

  width: min-content;

  > kbd {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-bottom-width: 2px;

    border-style: solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color);

    background-color: var(--background);

    font-family: var(
      --font,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Vazirmatn,
      Courier New,
      monospace
    );
    font-variation-settings: normal;
    font-feature-settings: normal;

    user-select: none;
  }
}

// Kbd Size
// ----------------------------------------------------------------

:host([size="xs"]) > kbd {
  min-width: 1.2em;

  min-height: 1.2em;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  font-size: 0.75rem;
  line-height: 1rem;
}
:host([size="sm"]) > kbd {
  min-width: 1.6em;

  min-height: 1.6em;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
}
:host([size="md"]),
:host(:not([size])) {
  > kbd {
    min-width: 2.2em;

    min-height: 2.2em;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    font-size: 1rem;
    line-height: 1.5rem;
  }
}
:host([size="lg"]) > kbd {
  min-width: 2.5em;

  min-height: 2.5em;
  padding-right: 1rem;
  padding-left: 1rem;

  font-size: 1.125rem;
  line-height: 1.75rem;
}
