@import "@poppy/poppy.globals";

/**
 * @prop --border-radius: Change border radius
 * @prop --border-color: Change border color
 *
 * @prop --background: Change sidebar background
 * @prop --color: Change sidebar text color
 *
 * @prop --shadow: Change box-shadow
 */

// Dropdown
// ----------------------------------------------------------------

:host {
  --border-radius: get-radius(md);
  --border-color: #{get-color("base.200")};
  --background: #{get-color("base.100")};
  --color: #{get-color("base.content")};
  --shadow: #{get-shadow(md)};

  .dropdown {
    display: grid;
    position: relative;
    width: 100%;

    &-trigger {
      display: inline-block;
      grid-row-start: 1;
      grid-column-start: 1;
    }

    &-content {
      position: absolute;

      min-height: 2rem;

      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      background-color: var(--background);

      box-shadow: var(--shadow);

      color: var(--color);
      animation-duration: 200ms;

      animation-name: present;
    }
  }
}

// Dropdown Open state
// ----------------------------------------------------------------

:host(:not([open])) {
  .dropdown-content {
    opacity: 0;
    pointer-events: none;
  }
}
:host([open]) {
  .dropdown-content {
    z-index: 100;
    opacity: 1;
  }
}

// Dropdown Placement
// ----------------------------------------------------------------

:host([side="bottom"][align="end"]) .dropdown-content {
  inset-inline-end: 0;
}

:host([side="top"]) .dropdown-content {
  top: auto;
  bottom: 100%;
}
:host([side="top"][align="end"]) .dropdown-content {
  inset-inline-end: 0;
}

:host([side="left"]) .dropdown-content {
  top: 0;
  bottom: auto;
  inset-inline-end: 100%;
}
:host([side="left"][align="end"]) .dropdown-content {
  top: auto;
  bottom: 0;
}

:host([side="right"]) .dropdown-content {
  top: 0;
  bottom: auto;
  inset-inline-start: 100%;
}
:host([side="right"][align="end"]) .dropdown-content {
  top: auto;
  bottom: 0;
}

@keyframes present {
  from {
    scale: 0.95;
    opacity: 0.6;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
